@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
}
/* Fin General */




/* Básicos */
    h1{
        size: 2.5rem;
        color: #351e0e;
        text-align: center;
        font-weight: bold;
        letter-spacing: 2px;
        padding-bottom: 10px;
    }
        h1::after {
            content: '';
            background: #351e0e;
            display: block;
            height: 3px;
            width: 150px;
            margin: 10px auto;
        }

    h2 {
        size: 2rem;
        color: #351e0e;
        text-align: center;
        padding: 5px;
        font-weight: 400;
    }

    h3 {
        size: 1.5rem;
        color: #351e0e;
        text-align: center;
        padding: 5px;
        font-weight: 350;
    }

    h4 {
        size: 1rem;
        color: #351e0e;
        padding: 2px;
        font-weight: 600;
    }

hr {
    border: 0;
	border-bottom: solid 1px rgba(0, 0, 0, 0.3);
	margin: 3em 0;
}

p {
    margin: 0 0 2em 0;
    font-weight: 320;
    text-align: center;
    size: 1rem;
}

b {
    color: #271508;
    font-weight: 500;
}
/* Fin Básicos */







/* Reutilizables */
.content {
    margin: auto;
    padding: 0px 30px;
}

.max-w {
    max-width: 80%;
}
/* Fin Reutilizables */




/* Barra de Desplazamiento */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::selection {
    background: rgba(78, 48, 3, 0.3);
}
/* Fin de Barra */





/* Barra de Navegación */
.navbar {
    position: fixed;
    z-index: 5;
    width: 100%;
    padding: 25px 0;
    transition: all 0.3s ease;
}
.navbar.sticky {
    padding: 10px 0;
    background: #6E2C00;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}
.navbar .menu-list {
    display: inline-flex;
}
.menu-list li {
    list-style: none;
}
.menu-list li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
}
.menu-list li a:hover {
    color: #6ab04c;
}

.banner {
    background: url(images/StaffBanner.jpg) no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.about {
    padding: 40px 0;
}
.about .title {
    font-size: 35px;
    font-weight: 700;
}
.about p {
    padding-top: 20px;
    text-align: justify;
}
.icon {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}
.icon.cancel-btn {
    position: absolute;
    right: 30px;
    top: 20px;
}
.navbar.sticky .icon.cancel-btn {
    top: 10px;
}
@media (max-width: 868px) {
    body.disabledScroll{
        overflow: hidden;
    }
    .icon{
        display: block;
        height: 50px;
        width: 50px;
        text-align: center;
        line-height: 50px;
        border-radius: 50%;
        z-index: 9;
    }
    .icon.cancel-btn{
        display: none;
    }
    .icon.cancel-btn.show{
        display: block;
    }
    .icon.hide{
        display: none;
    }
    .navbar .menu-list{
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background: #692c00;
        display: block;
        padding: 40px 0;
        text-align: center;
        clip-path: circle(25px at calc(100% - 55px) calc(0% + 50px));
        transition: all 0.3s ease;
    }
    .navbar.sticky .menu-list{
        clip-path: circle(25px at calc(100% - 55px) calc(0% + 35px));
    }
    .navbar .menu-list.active{
        clip-path: circle(75%);
    }
    .navbar .menu-list li{
        margin-top: 45px;
    }
    .navbar .menu-list li a{
        font-size: 23px;
    }
}
/* Fin de barra */












/* Inicio Página */
.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper {
    background: #fff;
    width: 720px;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
}
.wrapper h2 {
    text-align: center;
}
.wrapper hr {
    width: 100px;
    margin: 10px auto;
}

.wrapper-cat {
    background: #fff;
    width: 1000px;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
}
.wrapper-cat h2 {
    text-align: center;
}
.wrapper-cat hr {
    width: 100px;
    margin: 10px auto;
}

.members {
    display: flex;
}

.team-member {
    margin: 8px;
}
img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
}
h4, p {
    text-align: center;
    font-size: 12px;
    margin: 7px;
}







/* Fin Página */













/* Footer */
footer {
    background-color: #111;
}

.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 2.1em;
    color: black;
    opacity: 0.9;
}

.socialIcons a:hover {
    background-color: #111;
    transition: 0.5s;
}

.socialIcons a:hover i {
    color: white;
    transition: 0.5s;
}

.footerNav {
    margin: 30px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover {
    opacity: 1;
}

.footerBottom {
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    color: white;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media (max-width: 868px) {
    .footerNav ul {
        flex-direction: column;
    }
    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}
/* Fin Footer */